<div id="home">
  <div class="jumbotron">
    <div class="container">
      <div id="top-bar" class="playlist-top-bar">
        <div class="playlist-toolbar">
          <div class="btn-group">
            <span class="glyphicon glyphicon-pause btn btn-warning"></span>
            <span class="glyphicon glyphicon-play btn btn-success"></span>
            <span class="glyphicon glyphicon-stop btn btn-danger"></span>
          </div>
          <canvas id="playing" style="position: absolute;" width="200" height="40"></canvas>
        </div>
        <canvas id="sounds"></canvas>
        <div>{{ progress }}</div>
      </div>
    </div>
  </div>
</div>