<div id="home">
  <div class="container">
    <div id="top-bar" class="playlist-top-bar">
      <div class="playlist-toolbar">
        <div class="btn-group">
          <span class="glyphicon glyphicon-pause btn btn-warning"></span>
          <span class="glyphicon glyphicon-play btn btn-success" ng-click="onClickPlay()"></span>
          <span class="glyphicon glyphicon-stop btn btn-danger" ng-click="onClickStop()"></span>
        </div>
      </div>
      <div>Loaded songs : {{ progress }}</div>
    </div>
  </div>
  <div class="container">
    <canvas id="sounds" class="song" resize></canvas>
    <canvas id="playing" class="song" resize></canvas>
  </div>
</div>